
<nav class="navbar navbar-default" style="background-color: #e3f2fd;back"  >
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">BK-FOOD</a>
    </div>
    <div>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
       <ul class="nav navbar-nav navbar-left">
        <li><a href="/admin">Admin</a> </li>
        <li><a href="/vendor">Vendor</a> </li>
        </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/shopping-cart/">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>Shopping Cart
            <span class="badge">{{session.cart.totalQty}}</span>
          </a>
        </li>
        {{#if user}}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i></i>Hi,{{name}}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            
            <li><a href="/user/profile"></i>User management</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/user/logout"></i>Logout</a></li>
            {{else}}
            <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i></i>Login<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/user/register"></i>Register</a></li>
            <li><a href="/user/login">Login</a></li>
            {{/if}}
          </ul>
        </li>
      </ul>
  </div><!-- /.container-fluid -->
</nav>
<img src="https://scontent-hkg4-1.xx.fbcdn.net/v/t1.15752-9/116269752_305527013902454_6891553637901475975_n.png?_nc_cat=100&_nc_sid=b96e70&_nc_ohc=fqG_iG66TmcAX_MTGeo&_nc_ht=scontent-hkg4-1.xx&oh=d194d8f828157475ee32fe9adc3d9d5e&oe=5F479A98" style="width: 108.5em; height:15em">
  



