<div class="container">
<h1>Profile</h1>
<ul class="list-group">
  <li class="list-group-item">{{name}}</li>
  <li class="list-group-item">{{email}}</li>
  <li class="list-group-item">{{username}}</li>
  
</ul>
</div>
